.sizeInputCard {
  flex: 1;
  flex-basis: 40%;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  border-left: 5px solid #ff5a5f;
  margin: 10px;
  display: flex;
  align-items: center;
}

.sizeInputCard:nth-child(2n - 1) {
  margin-left: 0px;
}

.sizeInputCardContainer {
  flex: 1;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sizeText {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.sizeInputCardContainer input {
  max-width: 70px;
  border: 1px #D2D6DF solid;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 30px;
  align-self: flex-end;
}

.sizeInputCardContainer input:focus {
  outline: 0;
  border: 1px solid #00a8f2;
}