.editorButtonGroup {
  padding: 0px;
  margin: 0px;
  max-width: 40px;
  border-radius: 10px;
  list-style: none;
  background-color: white;
  box-shadow: #BFBFBE 0 -13px 50px;
  margin: 15px 0px;
}

.editorButtonGroup:first-child {
  margin: 0px;
}

.editorButtonGroup li {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}