.quoteFormContainer {
  flex: 1;
  display: flex;
}

.quoteForm {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
  position: relative;
}

.quoteFormSizes {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  max-height: 300px;
}

.productName {
  display: block;
  font-size: 30px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.productNameHeader {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}